<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THE NEW COLLEGE PG Dept of Computer Science-eAuction</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <script th:src="@{../js/jquery-2.2.3.js}"></script>
    <link rel="shortcut icon" th:href="@{http://placehold.it/64.png/000/fff}">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{http://placehold.it/144.png/000/fff}">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{http://placehold.it/114.png/000/fff}">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{http://placehold.it/72.png/000/fff}">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{http://placehold.it/57.png/000/fff}">
    <!-- Styles -->
    <link th:href="@{assets/css/lib/calendar2/pignose.calendar.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/chartist/chartist.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/themify-icons.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{assets/css/lib/owl.theme.default.min.css}" rel="stylesheet" />
    <link th:href="@{assets/css/lib/weather-icons.css}" rel="stylesheet" />
    <link th:href="@{assets/css/lib/menubar/sidebar.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/helper.css}" rel="stylesheet">
    <link th:href="@{assets/css/style.css}" rel="stylesheet">
</head>


<script th:inline="javascript">


    function deleteBanner(){

         $.get("/deleteBanner",{
         },

         function(a){
         $.notify(a,"success");
	  		location.reload();
         }
         );

    }


</script>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="/admin">
                            <!-- <img src="assets/images/logo.png" alt="" /> --><span>ADMIN</span>
                        </a></div>


                    <li class="label">Main</li>

                    <li><a href="/admin"><i class="ti-calendar"></i> Dashboard </a></li>
                    <li><a href="/usersAdmin"><i class="ti-calendar"></i> Users </a></li>
                    <li><a href="/categoryAdmin"><i class="ti-email"></i> Category</a></li>
                    <li><a href="/auctionAdmin"><i class="ti-user"></i> Auction</a></li>
                    <li><a href="/completeAdmin"><i class="ti-layout-grid2-alt"></i> Complete Auction</a></li>
                    <li><a href="/"><i class="ti-layout-grid2-alt"></i> Logout</a></li>





                </ul>
            </div>

        </div>
    </div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">

                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">Fardeen
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Home</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-user color-success border-success"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Total Users</div>
                                        <div class="stat-digit" th:text="${userCount}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-timer color-primary border-primary"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Active</div>
                                        <div class="stat-digit" th:text="${activeAuction}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-check color-pink border-pink"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Completed</div>
                                        <div class="stat-digit" th:text="${completedAuction}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-link color-danger border-danger"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Categories</div>
                                        <div class="stat-digit" th:text="${categoryCount}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Highlight Banner</h4>

                                </div>
                                <div class="card-body">
                                    <div class="form-validation">
                                        <form class="form-valide" action="/postBanner" method="post" enctype="multipart/form-data">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-username">Banner
                                                    Description<span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" id="val-username"
                                                           name="description" placeholder="Description" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-password">Banner Image
                                                    <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="file" class="form-control" id="val-password"
                                                           name="image" placeholder="Choose one.." accept="image/x-png,image/jpeg,image/jpg" multiple required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-select2">Product <span
                                                        class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <select class="js-select2 form-control" id="val-select2"
                                                            name="auctionId" style="width: 100%;"
                                                            data-placeholder="Choose one..">
                                                        <option th:each="auction : ${auction}"
                                                        th:value="${auction.auctionId}"
                                                        th:utext="${auction.auctionTitle}"></option>


                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-lg-8 ml-auto">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>

                                            <hr>

                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label color-success">Currently 1 banner
                                                    in Live<span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <button disabled="true" th:onclick="'deleteBanner()'" class="btn btn-danger">Remove</button>



                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Ads Banner</h4>

                                </div>
                                <div class="card-body">
                                    <div class="form-validation">
                                        <form class="form-valide" action="#" method="post" enctype="multipart/form-data">


                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-password">Ad Image 1
                                                    <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="file" class="form-control" id="val-pas1"
                                                           name="image" placeholder="Choose one.." accept="image/x-png,image/jpeg,image/jpg" multiple required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-password">Ad Image 2
                                                    <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="file" class="form-control" id="val-pas2"
                                                           name="image" placeholder="Choose one.." accept="image/x-png,image/jpeg,image/jpg" multiple required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-password">Next Season Timer
                                                    <span class="text-danger">*</span></label>
                                                <div class="col-lg-8">
                                                    <input type="datetime-local" class="form-control" id="val-pas3"
                                                            required>
                                                </div>
                                            </div>



                                            <div class="form-group row">
                                                <div class="col-lg-8 ml-auto">
                                                    <button type="submit" class="btn btn-primary">Publish</button>
                                                </div>
                                            </div>




                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>. - <a href="#"></a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- jquery vendor -->
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{assets/js/lib/jquery.min.js}"></script>
    <script th:src="@{assets/js/lib/jquery.nanoscroller.min.js}"></script>
    <!-- nano scroller -->
    <script src="assets/js/lib/menubar/sidebar.js"></script>
    <script src="assets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->

    <script th:src="@{assets/js/lib/bootstrap.min.js}"></script>
    <script th:src="@{assets/js/scripts.js}"></script>
    <!-- bootstrap -->

    <script src="assets/js/lib/calendar-2/moment.latest.min.js"></script>
    <script src="assets/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <script src="assets/js/lib/calendar-2/pignose.init.js"></script>


    <script src="assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="assets/js/lib/weather/weather-init.js"></script>
    <script src="assets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="assets/js/lib/circle-progress/circle-progress-init.js"></script>
    <script src="assets/js/lib/chartist/chartist.min.js"></script>
    <script src="assets/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="assets/js/lib/sparklinechart/sparkline.init.js"></script>
    <script src="assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <!-- scripit init-->
    <script src="assets/js/dashboard2.js"></script>

    <script th:src="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css}">
    <script th:src="@{/js/jquery-2.2.3.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/required/notify.min.js}"></script>
    <script th:src="@{/js/modernizr.custom.js}"></script>

</body>

</html>