<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DACE | Bazaar-360</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <script th:src="@{../js/jquery-2.2.3.js}"></script>
    <link rel="shortcut icon" th:href="@{http://placehold.it/64.png/000/fff}">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{http://placehold.it/144.png/000/fff}">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{http://placehold.it/114.png/000/fff}">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{http://placehold.it/72.png/000/fff}">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{http://placehold.it/57.png/000/fff}">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.css}">
    <link th:href="@{assets/css/lib/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/themify-icons.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/jsgrid/jsgrid-theme.min.css}" rel="stylesheet" />
    <link th:href="@{assets/css/lib/jsgrid/jsgrid.min.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{assets/css/lib/menubar/sidebar.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/helper.css}" rel="stylesheet">
    <link th:href="@{assets/css/style.css}" rel="stylesheet">
</head>

<script th:inline="javascript">






function catCreate(){

     $.post("/createCategory",
     {

         categoryName:$('#catName').val()

     },
     function(a){


     $.notify(a,"info");
     location.reload();


     }
     );

}





function deleteCat(id){

     $.get("/category/delete/"+id,
     {



     },
     function(a){


     $.notify(a,"info");
     location.reload();


     }
     );

}





</script>





<body>
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo"><a href="/admin">
                    <!-- <img src="assets/images/logo.png" alt="" /> --><span>ADMIN</span>
                </a></div>


                <li class="label">Main</li>

                <li><a href="/admin"><i class="ti-calendar"></i> Dashboard </a></li>
                <li><a href="/usersAdmin"><i class="ti-calendar"></i> Users </a></li>
                <li><a href="/categoryAdmin"><i class="ti-email"></i> Category</a></li>
                <li><a href="/auctionAdmin"><i class="ti-user"></i> Auction</a></li>
                <li><a href="/completeAdmin"><i class="ti-layout-grid2-alt"></i> Complete Auction</a></li>



            </ul>
        </div>

    </div>
</div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">

                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">Fardeen
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello, <span>Welcome Here</span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Table-Basic</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <section id="main-content">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" >Category
                                                Name<span class="text-danger">*</span></label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" id="catName"
                                                       name="categoryName" placeholder="Enter a category" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button  id="catBtn" th:onclick=" 'catCreate()' " class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-title">
                                <h4>Table Hover </h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover ">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Category Name</th>
                                            <th>Category Status</th>
                                            <th>Remove</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="category : ${categoryList} ">
                                            <th scope="row" th:text="${category.categoryId}"></th>
                                            <td th:text="${category.categoryName}"></td>
                                            <td class="color-success">Active</td>
                                            <td><button th:onclick=" 'deleteCat('+${category.categoryId}+')' " class="btn btn-danger">Remove</button></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                </div>




                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p><a href="#"></a></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>





    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <!-- jquery vendor -->
    <script th:src="@{assets/js/lib/jquery.min.js}"></script>
    <script th:src="@{assets/js/lib/jquery.nanoscroller.min.js}"></script>
    <!-- nano scroller -->
    <script th:src="@{assets/js/lib/menubar/sidebar.js}"></script>
    <script th:src="@{assets/js/lib/preloader/pace.min.js}"></script>
    <!-- sidebar -->

    <!-- bootstrap -->
    <script th:src="@{assets/js/lib/bootstrap.min.js}"></script>
    <script th:src="@{assets/js/scripts.js}"></script>
    <!-- scripit init-->
<script th:src="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css}">
<script th:src="@{/js/jquery-2.2.3.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/required/notify.min.js}"></script>
<script th:src="@{/js/modernizr.custom.js}"></script>


</body>

</html>