<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DACE | Bazaar-360</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" th:href="@{http://placehold.it/64.png/000/fff}">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{http://placehold.it/144.png/000/fff}">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{http://placehold.it/114.png/000/fff}">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{http://placehold.it/72.png/000/fff}">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{http://placehold.it/57.png/000/fff}">
    <!-- Styles -->
    <link th:href="@{assets/css/lib/calendar2/pignose.calendar.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/chartist/chartist.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/themify-icons.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{assets/css/lib/owl.theme.default.min.css}" rel="stylesheet" />
    <link th:href="@{assets/css/lib/weather-icons.css}" rel="stylesheet" />
    <link th:href="@{assets/css/lib/menubar/sidebar.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{assets/css/lib/helper.css}" rel="stylesheet">
    <link th:href="@{assets/css/style.css}" rel="stylesheet">
</head>

<body>

<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo"><a href="/admin">
                    <!-- <img src="assets/images/logo.png" alt="" /> --><span>ADMIN</span>
                </a></div>


                <li class="label">Main</li>

                <li><a href="/admin"><i class="ti-calendar"></i> Dashboard </a></li>
                <li><a href="/usersAdmin"><i class="ti-calendar"></i> Users </a></li>
                <li><a href="/categoryAdmin"><i class="ti-email"></i> Category</a></li>
                <li><a href="/auctionAdmin"><i class="ti-user"></i> Auction</a></li>
                <li><a href="/completeAdmin"><i class="ti-layout-grid2-alt"></i> Complete Auction</a></li>



            </ul>
        </div>

    </div>
</div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">

                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">Fardeen
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello, <span>Welcome Here</span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Table-Users</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-title">
                            <h4>Users Table</h4>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover ">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Address</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${usersList}">
                                        <th scope="row" th:text="${user.userId}"></th>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td class="color-primary" th:text="${user.phoneNumber}"></td>
                                        <td th:text="${user.address}"></td>
                                        <td class="color-success" th:text="${user.role}"></td>
                                        <td><button class="btn btn-primary">Edit</button></td>
                                        <td><button class="btn btn-danger">Remove</button></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->

        </div>
    </div>
</div>











    <!-- jquery vendor -->
    <script th:src="@{assets/js/lib/jquery.min.js}"></script>
    <script th:src="@{assets/js/lib/jquery.nanoscroller.min.js}"></script>
    <!-- nano scroller -->
    <script src="@{assets/js/lib/menubar/sidebar.js}"></script>
    <script src="@{assets/js/lib/preloader/pace.min.js}"></script>
    <!-- sidebar -->

    <!-- bootstrap -->



    <!-- JS Grid Scripts Start-->
    <script th:src="@{assets/js/lib/jsgrid/db.js}"></script>
    <script th:src="@{assets/js/lib/jsgrid/jsgrid.core.js}"></script>
    <script th:src="@{assets/js/lib/jsgrid/jsgrid.load-indicator.js}"></script>
    <script th:src="@{assets/js/lib/jsgrid/jsgrid.load-strategies.js}"></script>
    <script th:src="@{assets/js/lib/jsgrid/jsgrid.sort-strategies.js}"></script>
    <script th:src="@{assets/js/lib/jsgrid/jsgrid.field.js}"></script>
    <script th:src="@{assets/js/lib/jsgrid/fields/jsgrid.field.text.js}"></script>
    <script th:src="@{assets/js/lib/jsgrid/fields/jsgrid.field.number.js}"></script>
    <script th:src="@{assets/js/lib/jsgrid/fields/jsgrid.field.select.js}"></script>
    <script th:src="@{assets/js/lib/jsgrid/fields/jsgrid.field.checkbox.js}"></script>
    <script th:src="@{assets/js/lib/jsgrid/fields/jsgrid.field.control.js}"></script>
    <script th:src="@{assets/js/lib/jsgrid/jsgrid-init.js}"></script>
    <!-- JS Grid Scripts End-->

    <script th:src="@{assets/js/lib/bootstrap.min.js}"></script>
    <script th:src="@{assets/js/scripts.js}"></script>
    <!-- scripit init-->

</body>

</html>