/* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.188);
  background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.main-container{
  position: relative;
  max-width: 480px;
  width: 100%;
  z-index: 1;

}
.main-container::before,.main-container::after{
    content: "";
    display: block;
    clear: both;
}

.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}
.container-reg{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}
.container-forgot{
position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}
.container-question{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}
.container-password{
    position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}

.container .forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 100%;
  transition: height 0.2s ease;
}

.container .form {
  width: 100%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.container-reg .form{
  width: 100%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}
.container-forgot .form{
    width: 100%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}
.container-question .form{
    width: 100%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}
.container-password .form{
    width: 100%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}
.container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.container.active .forms {
  height: 800px;
}
.container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}
.container-reg .form .title{
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.container-forgot .form .title{
  position: relative;
  font-size: 27px;
  font-weight: 600;
}
.container-question .form .title{
  position: relative;
  font-size: 27px;
  font-weight: 600;
}
.container-password .form .title{
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #FF6347;
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #FF6347;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #FF6347;
}

.input-field i.icon {
  left: 0;
}
.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}
.input-field .form-control {
  width: 100%;
  height: 100%;
  color: rgba(51, 51, 51, 0.818);
  font-size: 16px;
  border: 2px solid rgba(51, 51, 51, 0.212);
  outline-style: none;
}
.form-control option {
  color: rgba(51, 51, 51, 0.598);
}

.form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin: 0 8px -2px 4px;
  accent-color: #FF6347;
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form a.text {
  color: #FF6347;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 35px;
}

.form .button input {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color:#FF6347;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #FE7C7F;
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.container-reg{
    display: none;
}
.container-forgot{
    display: none;
}
.container-question{
    display: none;
}
.container-password{
    display: none;
}
